<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top " style="box-shadow: 5px 5px 5px #888888 ;">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo-nuevo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        asks
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/']" href="#"><i class="fas fa-tasks"></i> Tasks <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/users',1]" href="#"> <i class="fas fa-users"></i> Users <span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>


<div class="container-fluid mt-5" style="padding-top: 35px;">
    <div class="container">
        <form class="form-inline my-2 my-lg-0 col-sm-6 offset-3">

            <mat-form-field class="example-full-width">
    
                <input type="text" placeholder="  Search task..." aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                    (optionSelected)="selectTask($event)">
                    <mat-option *ngFor="let task of filteredOptions | async" [value]="task">
                        {{task.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <router-outlet></router-outlet>
</div>